.rules-container {
    position: absolute;
    bottom: 30px;
    right: 40px;
}

.rules-container button {
    background: transparent;
    border: none;
    border: 1px solid #fff;
    padding: 15px 40px;
    color: #fff;
    border-radius: 10px;
}

.rules-container button:hover {
    cursor: pointer;
}