.scoreBoard {
    width: 60%;
    border-radius: 10px;
    margin: 0 auto;
    border: .1px solid #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.score {
    background-color: #fff;
    border-radius: 5px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.score h2 {
    color: hsl(229, 64%, 46%);
    font-size: .7em;
    margin: 0;
}

.score p {
    color: hsl(217, 16%, 45%);
    font-weight: bold;
    font-size: 2.3em;
    margin: 0;
}